input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    background: #3C4048;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
#input-num1, #input-num2, #answer {
    width: 200px;
    height: 50px;
    font-size: 20px;
    text-align: center;

    border: 0;
    border-radius: 5px;

    background-color: #B2B2B2;
    
    margin: 10PX;
}
#answer::placeholder {
    color: #000
}
#calc-btn {
    margin: 10px;
    height: 45px;
    width: 60px;
    font-size: 40px;

    border: 0;
    border-radius: 5px;
    
    background-color: #00ABB3;
    transition: background-color 0.5s ease;

    color: white;
    
}
#calc-btn:hover {
    cursor: pointer;
    background-color: #fac99e;
}
.buttons {
    display: flex;
    justify-content: center;
}
